table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  background: #003366;
  color: #fff;
}
td, th {
  padding: 8px;
  border: 1px solid #ccc;
}
tr:nth-child(even) {
  background: #f9f9f9;
}
