#cssmenur {
	padding: 0;
	margin: 0;
	border: 0;
	width:75px;
	height:auto;
	float:left;
	line-height:35px;
	margin-top:3px;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	
}
#cssmenur ul,

#cssmenur ul ul {

  list-style: none;
  margin: 0;
  padding: 0;
  
}
#cssmenur ul {
	position:absolute;
  z-index: 597;
  
 
  
}
#cssmenur ul li {
	
	background-color:#000;
	border:1px solid white;
	width:230px;
	height:35px;
	text-align:center;
	line-height:35px;
	
	position:relative;
	padding:1px;

}


#cssmenur ul li:hover {
  position: relative;
  z-index: 599;
  background-color:green;
  
}


